In [1]:
import pandas as pd
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import cross_val_score
from keras.wrappers.scikit_learn import KerasRegressor

Using TensorFlow backend.

In [2]:
base = pd.read_csv('/home/igorbaio/Documentos/DeepLearningA-Z/Base_de_Dados/autos.csv', encoding = 'ISO-8859-1')
print(base)

                dateCrawled                                          name  \
0       2016-03-24 11:52:17                                    Golf_3_1.6
1       2016-03-24 10:58:45                          A5_Sportback_2.7_Tdi
2       2016-03-14 12:52:21                Jeep_Grand_Cherokee_"Overland"
3       2016-03-17 16:54:04                            GOLF_4_1_4__3TÜRER
4       2016-03-31 17:25:20                Skoda_Fabia_1.4_TDI_PD_Classic
...                     ...                                           ...
371523  2016-03-14 17:48:27                    Suche_t4___vito_ab_6_sitze
371524  2016-03-05 19:56:21         Smart_smart_leistungssteigerung_100ps
371525  2016-03-19 18:57:12            Volkswagen_Multivan_T4_TDI_7DC_UY2
371526  2016-03-20 19:41:08                        VW_Golf_Kombi_1_9l_TDI
371527  2016-03-07 19:39:19  BMW_M135i_vollausgestattet_NP_52.720____Euro

        seller offerType  price   abtest vehicleType  yearOfRegistration  \
0       privat   Angebot    480     test         NaN                1993
1       privat   Angebot  18300     test       coupe                2011
2       privat   Angebot   9800     test         suv                2004
3       privat   Angebot   1500     test  kleinwagen                2001
4       privat   Angebot   3600     test  kleinwagen                2008
...        ...       ...    ...      ...         ...                 ...
371523  privat   Angebot   2200     test         NaN                2005
371524  privat   Angebot   1199     test      cabrio                2000
371525  privat   Angebot   9200     test         bus                1996
371526  privat   Angebot   3400     test       kombi                2002
371527  privat   Angebot  28990  control   limousine                2013

          gearbox  powerPS        model  kilometer  monthOfRegistration  \
0         manuell        0         golf     150000                    0
1         manuell      190          NaN     125000                    5
2       automatik      163        grand     125000                    8
3         manuell       75         golf     150000                    6
4         manuell       69        fabia      90000                    7
...           ...      ...          ...        ...                  ...
371523        NaN        0          NaN      20000                    1
371524  automatik      101       fortwo     125000                    3
371525    manuell      102  transporter     150000                    3
371526    manuell      100         golf     150000                    6
371527    manuell      320      m_reihe      50000                    8

       fuelType           brand notRepairedDamage          dateCreated  \
0        benzin      volkswagen               NaN  2016-03-24 00:00:00
1        diesel            audi                ja  2016-03-24 00:00:00
2        diesel            jeep               NaN  2016-03-14 00:00:00
3        benzin      volkswagen              nein  2016-03-17 00:00:00
4        diesel           skoda              nein  2016-03-31 00:00:00
...         ...             ...               ...                  ...
371523      NaN  sonstige_autos               NaN  2016-03-14 00:00:00
371524   benzin           smart              nein  2016-03-05 00:00:00
371525   diesel      volkswagen              nein  2016-03-19 00:00:00
371526   diesel      volkswagen               NaN  2016-03-20 00:00:00
371527   benzin             bmw              nein  2016-03-07 00:00:00

        nrOfPictures  postalCode             lastSeen
0                  0       70435  2016-04-07 03:16:57
1                  0       66954  2016-04-07 01:46:50
2                  0       90480  2016-04-05 12:47:46
3                  0       91074  2016-03-17 17:40:17
4                  0       60437  2016-04-06 10:17:21
...              ...         ...                  ...
371523             0       39576  2016-04-06 00:46:52
371524             0       26135  2016-03-11 18:17:12
371525             0       87439  2016-04-07 07:15:26
371526             0       40764  2016-03-24 12:45:21
371527             0       73326  2016-03-22 03:17:10

[371528 rows x 20 columns]

In [3]:
base = base.drop('dateCrawled', axis = 1)
base = base.drop('dateCreated', axis = 1)
base = base.drop('nrOfPictures', axis = 1)
base = base.drop('postalCode', axis = 1)
base = base.drop('lastSeen', axis = 1)

In [4]:
print(base['name'].value_counts())

Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Citroën_C1_1.0_**Euro4**TÜV_OKT_2017**Scheitenschaden      1
Volkswagen_TÜV_09_2017                                     1
Opel_Corsa_C_1.2_mit_Tuev_bis_03.2018                      1
Porsche_911_Carrera_Typ_996_Austauschmotor_36000_km        1
BMW_Z3_2.8_Roadster_VFL___Top__Zustand__!!!!!!!            1
Name: name, Length: 233531, dtype: int64

In [5]:
base = base.drop('name', axis = 1)

In [6]:
print(base['seller'].value_counts())

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [7]:
base = base.drop('seller', axis = 1)

In [8]:
print(base['offerType'].value_counts())

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

In [9]:
base = base.drop('offerType', axis = 1)

In [11]:
print(base.columns)
print(len(base))

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')
price                  371528
abtest                 371528
vehicleType            333659
yearOfRegistration     371528
gearbox                351319
powerPS                371528
model                  351044
kilometer              371528
monthOfRegistration    371528
fuelType               338142
brand                  371528
notRepairedDamage      299468
dtype: int64

In [12]:
#Pre-processamento de valores inconsistentes
i1 = base.loc[base.price <= 10]
print(i1)

        price   abtest vehicleType  yearOfRegistration  gearbox  powerPS  \
7           0     test   limousine                1980  manuell       50
40          0     test         NaN                1990      NaN        0
60          1  control         suv                1994  manuell      286
91          1  control   limousine                1995  manuell      113
115         0     test         NaN                2017  manuell        0
...       ...      ...         ...                 ...      ...      ...
371356      0  control         NaN                2000  manuell       65
371392      0     test  kleinwagen                2002  manuell       60
371402      0  control  kleinwagen                1999  manuell       53
371431      0  control  kleinwagen                1999  manuell       37
371522      0  control         NaN                2005  manuell        0

           model  kilometer  monthOfRegistration fuelType           brand  \
7         andere      40000                    7   benzin      volkswagen
40         corsa     150000                    1   benzin            opel
60           NaN     150000                   11      NaN  sonstige_autos
91      e_klasse     150000                    4   diesel   mercedes_benz
115         golf       5000                   12   benzin      volkswagen
...          ...        ...                  ...      ...             ...
371356     corsa     150000                    0      NaN            opel
371392    fiesta     150000                    3   benzin            ford
371402     swift     150000                    3   benzin          suzuki
371431     arosa     150000                    7   benzin            seat
371522      colt     150000                    7   benzin      mitsubishi

       notRepairedDamage
7                   nein
40                   NaN
60                   NaN
91                  nein
115                  NaN
...                  ...
371356                ja
371392               NaN
371402               NaN
371431                ja
371522                ja

[12118 rows x 12 columns]

In [14]:
base = base[base.price > 10]
print(len(base))

359410

In [15]:
i2 = base.loc[base.price > 350000]
print(i2)

           price   abtest vehicleType  yearOfRegistration  gearbox  powerPS  \
1846      579000  control       coupe                1980  manuell      277
10649     420000  control       coupe                2004  manuell      483
14663   11111111  control       coupe                2003  manuell       64
16889    1000000  control       kombi                1998      NaN        0
20143    1250000     test       coupe                2016  manuell      500
...          ...      ...         ...                 ...      ...      ...
364171   3890000     test       coupe                2006      NaN      799
365461    599000  control       coupe                1980  manuell      377
366653  99999999  control      cabrio                1996  manuell      192
366861   3895000     test       coupe                2006      NaN      799
367041   1600000     test       coupe                2005      NaN      625

         model  kilometer  monthOfRegistration fuelType           brand  \
1846    andere      20000                   12   benzin             bmw
10649      911      50000                    4   benzin         porsche
14663     polo     150000                    2   benzin      volkswagen
16889   mondeo     150000                    0   benzin            ford
20143      911       5000                    3   benzin         porsche
...        ...        ...                  ...      ...             ...
364171     NaN       5000                    7      NaN  sonstige_autos
365461  andere       5000                    3   benzin             bmw
366653     3er     150000                    0      NaN             bmw
366861     NaN       5000                    4   benzin  sonstige_autos
367041     NaN      10000                    4   benzin  sonstige_autos

       notRepairedDamage
1846                nein
10649               nein
14663                NaN
16889                 ja
20143               nein
...                  ...
364171              nein
365461              nein
366653               NaN
366861              nein
367041              nein

[115 rows x 12 columns]

In [16]:
base = base.loc[base.price < 350000]
print(len(base))

359291

In [ ]:
#Pre-processamento de valores faltantes
print(base.loc[pd.isnull(base['vehicleType'])])